html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    list-style-type: none;
    letter-spacing:1.5px;
}

html,body{
    margin:0;
    padding:0;

}
h5{
    text-transform: capitalize;
    font-size: small;
    font-weight:100 ;
    opacity:0.5;
    color:white;
    padding: 0px 10px 0px 10px;
    text-align: center;

}
.navbar{
    position:fixed;
    width:100%;
    top:0px;
    display:flex;
    justify-content: space-between;
    z-index: 100;
}
.navbar a{
    color:white;
}

.bottom-slider{
    height:4px;
    background-color: rgb(8, 168, 168);
    bottom:0px;
    width:80%;
    border-radius:5px ;
    display:none;
    
}
ul li a{
    display:block;
}
.dropdown-menu{
    
    background-color: rgb(167, 170, 218);
}

.navbar li:hover .bottom-slider{
    color:rgb(142, 170, 231);
    display:block;
}
.navbar button:hover{
    border-color: yellow;
    color:yellow;
}

.main_container{
    position:relative;
    
    background-color:#3a2ea5;
    
    
    
    z-index: 1;
}
.first_container{
    background-color:#71abbe ;
    margin:0px;
   
     background-color: #54138A;
     background-image: linear-gradient(to bottom,#54138A,#bc8ee2);
     background-image: linear-gradient(to right,#54138A,#6a3c75);
   
 clip-path: circle(68.6% at 50% 25%);
    z-index: 2;
    height:80vh;

}
.loginbtn{
 border-radius: 10px;
outline:none; border:none;
margin:20px 5px 20px 5px;}

.first_container .btnwrapper{
 display:flex;
 justify-content: center;
 top:2vh;
 height:12vh;
 background-color: rgba(189, 188, 188, 0.4);
 position:relative;
}


.nav-link{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 100;
    
}
.nav-item{
    margin-left: 10px;
}
.navbtn{
    color:white;
    border-radius:10px ;
    padding:5px 5px 5px 5px;
    background-color: rgb(29, 13, 73);
    border-color: white;
    text-transform: uppercase;
    max-width:20vw ;
    margin-left: 10px;font-size: 15px;
    font-weight: 100;
}
 .main_container .container{
    
    margin-bottom: 25vh;
    height:auto;
    top:20vh;
    position:relative;
}
 .main_container .container p{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    
    padding:10px ;
   color:white;
    margin:30px;
    text-align: justify;
    
}
.container h5{
    text-transform: capitalize;
    font-size: small;
    font-weight:100 ;
    opacity:0.5;
    color:white;
    padding: 0px 10px 0px 10px;
    margin:0px 30px 0px 30px;
    text-align: justify;
   
    margin-top:-25px ;
}
.container button{
    border-radius:10px ; outline:none ;
    max-width: 20vw;
    color:white;
    background-image:linear-gradient( to right, rgb(39, 8, 109),rgb(95, 179, 190));
    text-transform: uppercase;
    padding: 5px 0px 5px 0px;
    border:none;
    margin-left:30px ;
    margin-top:25px ;
    margin-bottom:20px ;
    min-width: 10vw;
    font-size: 15px;
    font-weight: 100;
}


.secndpart{
    top:15vh;
    position:relative;

}
.secndpart h1{
    font-size: xx-large;
    padding:10px;
    margin:10px;
    line-height: 30px;
    

}
.secndpart h5{
    font-size: small;
    padding: 0px 10px;
    
    color:black;
    margin: 10px;
    opacity: 1;
}
.secndpart button{
   background-image: linear-gradient(to right,#54138A,#bb64d1);
   padding:10px;
   margin:20px;
   color:white;
   border:none;outline:none;
} 
.secnddowndiv{
    position:relative;
    top:25vh;
    height:15vh;
    
    
}
.img_container{
    position:relative;
    background-color:#3a2ea5 ;
    top:25vh;
    height:25vh; margin-left:0px ;
    
}
.div1{
    height:25vh;
    position:relative;
    margin:0px;
    background-color:#2c1c88;
    float:left;
    clip-path: polygon(0 0, 50% 0, 64% 39%, 83% 78%, 100% 100%, 43% 100%, 0 100%, 0 36%);
    
    width:35%;
    
}
.div2{
    height:25vh;
    position:relative;
    background-image: linear-gradient(to right,#5347c0,#8e33a5 );
    
    width:35%;
    float:right;
    
    
    clip-path: polygon(0 0, 100% 0, 100% 47%, 100% 100%, 79% 100%, 43% 100%, 27% 74%, 9% 32%);
    right: 0px;}
.img_container ul{
    display:flex;
    position:relative;
    top:10vh;
    justify-content: space-evenly;
    align-items: center;
    
}
.img_container ul li{
    list-style: none;
    
}
.img_container ul h3{
    padding:0 10vw 0 10vw;
    color:white;  
}
.section1{
    background-color: rgba(235, 235, 235, 0.4);
    
    position:relative;
    top:27vh;

}
.section1 .thirdcon{
   margin: auto;
    position:relative;
    max-width: 70%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-bottom-color:rgb(50, 50, 139) ;
    background-color:rgba(235, 235, 235, 0.4); 
   border-top-color:rgb(50, 50, 139) ;
   
     
}
.section1 .column{
    
    background-color:white;
    box-shadow: 0 8px 6px -6px black ;
    margin:15px;
    border-radius: 10px;
    transition: all 1s ease;
   
   
}

.section1 .thirdconrow{
    display:flex;
    flex-wrap: wrap;
    padding: 10px ;
    justify-content: center;
}
.section1 .lorem_shape{
    margin:20px;
   border:1px solid black;
   height:110px;
   width:110px;
   position:relative;
    }

.lorem_shape .icon {
    position:absolute;
    top:35px;
    left:43px;
    
    
}
.section1  h3{
    
   text-align: center;
   padding:5px 30px 5px 30px;
    color:black;
    font-weight: 100;
    border:1px solid black;
    font-size: medium;
    margin:10px ;

}
.section1  h6{
    
    color:black;
    font-weight: 100;
    text-align: center;
    margin:10px 10px 40px 10px;
    font-size: small;
    padding:5px 30px 5px 30px;
    border:1px solid black;
}
.section1 button{
    position:absolute;
    height:20px;
    width:20px;
    padding:10px;
    background-color: rgb(104, 64, 156);
    outline:none;
    border:none;
    bottom:0px;
    right:10px;
}
.fourthpart{
    position:relative;
    
    top:29vh;
}
.fourthpart h3 ,.fourthpart h5,.fif_con h5{
    padding:10px;
text-align: center;
margin:10px 30px 10px 30px;
color:black;
}
.fourthpart .f_con{
    margin:20px;
    
    position:relative;

}
.fourthpart .f_row{
   position:relative;
   margin:20px;
   display:flex;
   flex-wrap: wrap;
}
.fourthpart .f_col{
    position:relative;
    
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    
   
}
.fourthpart .f_col_1{
    position:relative;
    margin:20px 10px 10px 50px;
    
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;}
    
    
.f_icon{
    position: relative;
    padding:20px;
    
}
.f_text{
    position: relative;

padding-top:20px;
}

    
.f_col_1 p{
   
  font-size: small;
  width:40vw;
    padding:5px;
    
}
.fif_con{
    position:relative;
    top:29vh;
    background-color:rgba(204, 203, 203, 0.7) ;
    padding:5px;
}
 .fif_con h3,.s_con h3,.seven_part h3
{
 text-align: center;
 
 margin-top: 20px;
 
 padding:10px;
}


 .fif_con .fif_grid_con
{
 
 padding:10px;
 justify-content: center;
 flex-wrap: wrap;
 margin:20px 10px 20px 10px;
 
 display: flex;
}
.boxes
{
 
 background-color: white;
 
 margin:20px 10px 20px 10px;
 border-radius: 15px;
 box-shadow: 0px 0px 8px 1px rgb(151, 150, 150);
 
  
 
}

.boxes .p0
{
 text-align: center;
 font-size: 30px;
 color:#0020ff; 
}
.boxes span
{
 font-size: 20px;
 opacity: .3;
 color:black;
}


.boxes .upper
{
 background-color: rgba(189, 188, 188, 0.4);
 
 color: darkblue;
 text-align: center;
 border-radius: 15px 15px 0px 0px;
 padding:5px ;
 
} 

.boxes p{
position:relative;
text-align: center;
word-break: break-all;
font-size: small;
padding:5px 30px 5px 30px;
margin:10px ;


}
.boxes .btn{
    background-color: teal;
    padding:5px 10px;
    min-width: 10vw;
    text-align: center;
    color:white;
    margin-top: 3.5vh;
    margin-bottom: 3.5vh;
    
background-image: linear-gradient(to right,#54138A,#bb64d1);
border:none;}
 .fif_con .btnwrapper{    
    height:13vh;
   background-color: rgba(189, 188, 188, 0.4);
}
.s_con{
    position:relative;
    top:32vh;
    border:1px solid;
    background-color:rgba(204, 203, 203, 0.5) ;
    padding:5px;
}
.s_con .s_row{
    display:flex;
    flex-wrap: wrap;
   
    justify-content:center;
    
    margin:20px 20px 5px 20px;
    padding:10px 5px 5px 5px;
}
.s_con .s_col{
    
    border-radius: 5px;
    position:relative;
    margin:10px 15px 5px 15px;
   
    
    
   }
.s_col p{
    background-color: white;
    margin:10px;
    position:relative;
    font-size: smaller;
    font-weight: 100;
    
    min-width:18vw; 
    max-width: 22vw;
    color:black;
    opacity:0.7;
    word-break: break-all;
   
    
}
.s_con .circlediv{
    position: relative;
    
    height:110px;
    width:110px;
    border-radius: 50%;
    top:-10vh;
    left:3vw;
    box-shadow:0px 0px 3px 3px rgb(241, 241, 241);

}
.s_col h6{
    
    padding:5px;
    margin-left: 3vw;
}
.s_col h6:first-of-type{
    font-weight: 600;
}
.seven_part{
    position:relative;
    top:35vh;
    background-color:rgba(204, 203, 203, 0.5) ;
    
    border:1px solid black;

}
.seven_part .container{
    position: relative;
    

    margin:10px auto; 
    padding:5px;
    border:1px solid black;

}
.seven_part .col-lg-5,.seven_part .col-lg-3{
    border:1px solid black;
    background-color: white;
    margin:15px;
    padding:5px;

}
 .seven_part .col-lg-5 p, .seven_part .col-lg-3 p{
     text-align: center;
     opacity:0.7;
     font-size: small;
 }
 .seven_part .col-lg-5 h4,.seven_part .col-lg-3 h4{
     text-align: center;
     padding:2px;
     margin:2px;
     font-size: medium;
 }
 .footer{
     position: relative;
     top:40vh;
     
    z-index: 100;
    background-image: repeating-linear-gradient(to right bottom,#3d0d64 0% ,#7626b8 10% ,#5b3ec5 30%,#5b208b 80% );
    } 
     
 
 .footer .container{
    margin-top: 2vh;
     max-width:100% ;
     
     position:relative;
 }
 .footer .container .row{
  margin:auto;
  
  
 }
 .footer .container .col-lg-3{
 margin:0px;
 }
 .footer h2{
     font-size:20px ;
     font-weight:300 ;
     margin-left: 8px;
     margin-top: 2vh;
     color:white;
     text-transform: capitalize;
 }
 .footer ul li{
     list-style-type: none;
     color:white;
     font-size:10px; 
     font-weight: 100;
     opacity:0.7;
     margin-top: 15px;
     text-transform: capitalize;
     
 }
 .footer ul li span{
     margin:5px 12px 5px 0px ;
     padding:5px 5px 5px 0px;
     font-size: 8px;
     font-weight: lighter;
     
 }
 .footer h4{
     font-size: 10px;
    
     opacity:0.8;
     text-align: justify;
     padding:5px;
     margin:20px 8px 8px 8px ;
     color:white;
     text-transform: capitalize;
 }
 .footer h3{
     font-size: 18px;
     font-weight: 300;
     color:white;
    position:relative;
    text-transform: capitalize;
     

 }
 .footer .subscribe{
     min-width:20vw;
     max-width: 22vw;
     background-color: white;
     margin:20px 10px 10px 10px;
 }
 .footer .subscribe span{
     background-color: rgb(151, 94, 204);
     padding:5px 5px 3.5px 5px;
     text-transform: capitalize;
     font-size: 12px;
     text-align: right;
     font-weight: 100;
     color:white;
     width:8vw;
     
 }
 
 








    
    



